<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>FlexStart Bootstrap Template - Index</title>
    <meta content="" name="description">

    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="/static/css/home.css" rel="stylesheet">


</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top mb-5">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="index.html" class="logo d-flex align-items-center">
                <img src="Important Factors for Startup Success_Open Graph Image.png" alt="">
                <i class="bi bi-clipboard-data"></i>
                <span>StarAnalysis</span>

            </a>

            <nav id="navbar" class="navbar">

                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero starAnalysis align-items-center">

        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-6 starAnalysis star-column justify-content-center">
                    <h1 data-aos="fade-up-right" ,class="text-warning">We offer modern solutions to guide your
                        investment</h1>
                    <h2 data-aos="fade-up" data-aos-delay="400">Given a startup's financial information, we provide you
                        predictions of its current financial status for better investment choices. </h2>
                    <br>

                    <div data-aos="fade-up" data-aos-delay="600">
                        <div class="text-center text-lg-start">
                            <a href="{{ url_for('form')}}"
                                class="btn-get-started scrollto star-inline-analysis align-items-center justify-content-center align-self-center">
                                <span > Started</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 hero-img/" data-aos="zoom-out" data-aos-delay="100">
                    <img src="https://img.freepik.com/free-vector/coach-speaking-before-audience-mentor-presenting-charts-reports-employees-meeting-business-training-seminar-conference-vector-illustration-presentation-lecture-education_74855-8294.jpg?w=2000"
                        class="img-fluid" alt="startup-image">
                </div>
            </div>
        </div>

    </section><!-- End Hero -->

    <main id="main">

    </main><!-- End #main -->



    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    

</body>

</html>